
<div id="report">
</div>

<div class="report-share">
  Share your result
  <a href="http://www.facebook.com/sharer.php?<%= {u: result_url(@result)}.to_query %>" target="_blank">
    on Facebook
  </a>
  or
  <a href="https://twitter.com/share?<%= {url: result_url(@result), text: 'I completed a Shift at the Circle Burger'}.to_query %>" target="_blank">
    on Twitter
  </a>
</div>

<%= javascript_tag @result.state.to_json, class: 'js-result-state', type: 'application/json' %>
<%= javascript_include_tag 'results' %>
