
<div id="report">
</div>

<div class="report-share">
  Share your result
  <a href="http://www.facebook.com/sharer.php?<%= {u: result_url(@result)}.to_query %>" target="_blank">
    on Facebook
  </a>
  or
  <%
    text = if @result.state['doom']['progress'] == 100
             'I inadvertently caused the apocalypse at the #CircleBurger'
           else
             'I completed a Shift at the #CircleBurger'
           end
  %>
  <a href="https://twitter.com/share?<%= {url: result_url(@result), text: text}.to_query %>" target="_blank">
    on Twitter
  </a>
</div>

<% content_for :footer_js do %>
  <%= javascript_tag @result.state.to_json, class: 'js-result-state', type: 'application/json' %>
  <%= javascript_include_tag 'results' %>
<% end %>
