$color-dark-grey: #022431;
$color-white: #ffffff;
$color-cyan: #2aa198;
$color-purple: #6c71c4;
$color-red: #dc322f;

$color-background: $color-dark-grey;
$color-foreground: $color-white;
$color-accent-primary: $color-cyan;
$color-accent-secondary: $color-purple;

$z-index-tooltips: 1000;
