.message-box {
  user-select: none;
  padding: 10px;
  font-size: 22px;
  line-height: 1.5;

  > .disabled {
    $disabled-color: desaturate(lighten($color-background, 30), 60);
    pointer-events: none;
    color: $disabled-color;

    .entity {
      color: $disabled-color;
      font-weight: normal;
    }
  }
}

.message {
  margin: 1em 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.entity {
  color: $color-accent-primary;
  font-weight: bold;
  text-decoration: none;

  .red-glow > & {
    animation: glow 1s infinite alternate;
    color: $color-red;

    @keyframes glow {
      to {
        text-shadow: -1px 1px 16px lighten($color-red, 5);
      }
    }
  }
}
