$color-dark-grey: #022431;
$color-white: #FFF;
$color-blue: #00F9C3;
$color-orange: #F10A8A;

$color-background: $color-dark-grey;
$color-foreground: $color-white;
$color-accent-primary: $color-blue;
$color-accent-secondary: $color-orange;

$z-index-tooltips: 1000;
