$color-dark-grey: #111;
$color-white: #FFF;
$color-blue: #3987FB;
$color-orange: #EC5C25;

$color-background: $color-dark-grey;
$color-foreground: $color-white;
$color-accent-primary: $color-blue;
$color-accent-secondary: $color-orange;
