.message-box {
  padding: 10px;

  a {
    color: $color-accent-primary;
    font-weight: bold;
    text-decoration: none;
  }

  > .disabled {
    $disabled-color: darken($color-foreground, 45);
    pointer-events: none;
    color: $disabled-color;

    a {
      color: $disabled-color;
      font-weight: normal;
    }
  }
}
