.message-box {
  padding: 10px;
  font-size: 24px;
  line-height: 1.5;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .message {
    margin: 1em 0;
  }

  .entity {
    color: $color-accent-primary;
    font-weight: bold;
    text-decoration: none;
  }

  > .disabled {
    $disabled-color: darken($color-foreground, 45);
    pointer-events: none;
    color: $disabled-color;

    .entity {
      color: $disabled-color;
      font-weight: normal;
    }
  }
}
