.results, .report-share {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.results-table {
  margin: auto;
  text-align: left;

  td {
    padding: 0 0.5em;
  }

  .results-score {
    text-align: right;
  }
}

.results-total-score {
  &.doom {
    font-size: 48px;
  }
}

.play-again {
  color: $color-accent-primary;
  font-weight: bold;
  text-decoration: none;
}

.report-share {
  padding-top: 3em;
  a {
    color: $color-accent-primary;
    font-weight: bold;
    text-decoration: none;
  }
}
