<!DOCTYPE html>
<html>
<head>
  <title>TEAMBUTT Ludum Dare #35</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700,500' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-content">
    <%= yield %>
  </div>
  <footer class="main-footer">
    A game by <a href="https://butt.team">butt.team</a>
  </footer>
</body>
</html>
